@model Eventcity.Models.events

<div class="EventParent">
    <div class="EventImage">
        @*<img src="@Url.Content(Model.strEventImg)" alt="Failed to load" onerror="this.src='/Images/EventImages/EventDefault.jpg';"/>*@
        <img src='@Url.Action("GenerateImage", new { strImageLocation = @Model.strEventImg })' alt="Failed to load" onerror="this.src='/Images/EventImages/EventDefault.jpg';"/>
    </div>
    
    <div class="EventCenter">
        <div class="EventTopLine"> 
            <div style="width: 300px; float:left">
                <h2>@Model.strEventName</h2>
            </div>
            <div style="float:right; vertical-align:top">
                <button class="ButtonFollow">Follow</button>
            </div>
        </div>
        <div class="EventDescription">
            <span>
                @Model.strEventDescription
            </span>
        </div>
    </div>
    
    <div class="EventDetails">
        <ul>
            <li>
                <div>
                    <div>
                        <p>Date: 
                            @{ 
                                string strDate = ((DateTime)@Model.dEventDate).ToString("d"); 
                             }
                             @strDate
                        </p>
                    </div>
                </div>
            </li>
            <li>
               <div>
                    <div>
                        <p>Time: 
                            @{
                                
                                string strTime = ((DateTime)@Model.dEventDate).ToString("t"); 
                            }
                        
                            @strTime
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div>
                        <p>Host: @Model.strHost</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>