<p>
    WHAT'S HAPPENIN SMAPENIN
</p>

<section>
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
    @Html.Partial("PartialEvent")
</section>